Tourney/logs/*.log
Tourney/static/uploads
Tourney/uploads
Tourney/*.db
Tourney/uploads/**/*
.tourney_secret_key
.data
.git
.codecov.yml
.dockerignore
.github
.gitignore
.prettierignore
.travis.yml
**/node_modules
**/*.pyc
**/__pycache__
.venv*
venv*